<div class="container">
  <p>Indonesia merupakan negara yang terkenal dengan tradisi yang sudah ada sejak
    Indonesia merdeka, salah satunya adalah lomba tujuh belasan yang diadakan tiap tahun, yang
    dilaksanakan pada setiap tanggal 17 Agustus, untuk memperingati hari kemerdekaan
    Indonesia. Lomba-lomba yang dilakukan biasanya merupakan permainan tradisional, berupa
    balap karung, lomba balap kelereng dengan sendok, lomba tarik tambang, panjat pinang, dan
    masih banyak jenis lomba lainnya. </p>
</div>