<div class="container">
  <h5>Makna Lomba 17 Agustus</h5>
  <div>
    <p style="text-align: justify">
      Indonesia merupakan negara yang terkenal dengan tradisi yang sudah ada sejak Indonesia merdeka, salah satunya
      adalah lomba tujuh belasan yang diadakan tiap tahun, yang dilaksanakan pada setiap tanggal 17 Agustus, untuk
      memperingati hari kemerdekaan Indonesia. Lomba-lomba yang dilakukan biasanya merupakan permainan tradisional,
      berupa balap karung, lomba balap kelereng dengan sendok, lomba tarik tambang, panjat pinang, dan masih banyak
      jenis lomba lainnya. Meski ragam lomba yang diadakan dari tahun ke tahun cenderung sama, antusiasme masyarakat
      dalam mengikutinya tidak perlu ditanyakan. Mulai dari anak-anak hingga orang tua semuanya tidak melewatkan momen
      seru tiap bulan Agustus itu. Beragam hadiah unik dan menarik pun banyak dijumpai, mulai peralatan dapur hingga
      barang-barang elektronik, seperti TV dan kulkas.<br /><br />
    </p>

    <img
      src="https://cdn.futuready.com/artikel/media/2019/07/19113419/shutterstock_1143753212-854x540.jpg"
      style="height: 400px"
      class="d-block w-100"
      alt="..."
    />
    <p style="text-align: center"><i>Gambar 01. Lomba Engrang.</i></p>
    Jika melihat realitanya, perlombaan ini tidak hanya ditemukan di wilayah pedesaan, tetapi juga di daerah perkotaan.
    Menurutnya, di tengah gempuran media sosial yang menyebabkan seseorang semakin individual, lomba 17 Agustusan bisa
    berfungsi sarana perjumpaan warga yang murah. Meski banyak canda dan tawa yang tercipta, ada banyak makna positif
    yang bisa diambil dari perlombaan itu. "Selain ketangkasan, lomba itu juga menandakan adanya semangat gotong royong
    dan juga strategi. Tapi yang paling utama adalah permainan tanpa ada permusuhan Meski banyak canda dan tawa yang
    tercipta, ada banyak makna positif yang bisa diambil dari perlombaan itu. Selain ketangkasan, lomba itu juga
    menandakan adanya semangat gotong royong dan juga strategi. Tapi yang paling utama adalah permainan tanpa ada
    permusuhan.<br /><br />
    <img
      src="https://www.emc.id/files/uploads/rticle/image/2019/Aug/06/5d494153ec614/bersiap-ikut-lomba-17-agustus-teknik-peregangan-in-800x450.jpg?token=de439d2768df6f082ef79a525128c55a"
      style="height: 400px"
      class="d-block w-100"
      alt="..."
    />
    <p style="text-align: center"><i>Gambar 02. Lomba Balap Karung.</i></p>
    <p>
      Jika melihat realitanya, perlombaan ini tidak hanya ditemukan di wilayah pedesaan, tetapi juga di daerah
      perkotaan. Menurutnya, di tengah gempuran media sosial yang menyebabkan seseorang semakin individual, lomba 17
      Agustusan bisa berfungsi sarana perjumpaan warga yang murah. Meski banyak canda dan tawa yang tercipta, ada banyak
      makna positif yang bisa diambil dari perlombaan itu. "Selain ketangkasan, lomba itu juga menandakan adanya
      semangat gotong royong dan juga strategi. Tapi yang paling utama adalah permainan tanpa ada permusuhan Meski
      banyak canda dan tawa yang tercipta, ada banyak makna positif yang bisa diambil dari perlombaan itu. Selain
      ketangkasan, lomba itu juga menandakan adanya semangat gotong royong dan juga strategi. Tapi yang paling utama
      adalah permainan tanpa ada permusuhan.
    </p>
  </div>
</div>
