<div class="container">
  <ul ngbNav #nav="ngbNav" [activeId]="2" class="nav-tabs justify-content-center">
    <li ngbDropdown class="nav-item">
      <a href (click)="(false)" class="nav-link" ngbDropdownToggle>Lomba</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="getIsActive(true)">Aktif</button>
        <button ngbDropdownItem (click)="getIsActive(false)">Tidak Aktif</button>
        <div class="dropdown-divider"></div>
      </div>
    </li>
    <li ngbDropdown class="nav-item">
      <a href (click)="(false)" class="nav-link" ngbDropdownToggle>Sort</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="getIsSort('desc')">A-Z</button>
        <button ngbDropdownItem (click)="getIsSort('asc')">Z-A</button>
        <div class="dropdown-divider"></div>
      </div>
    </li>
    <!-- <li ngbDropdown class="nav-item">
      <a href (click)="(false)" class="nav-link" ngbDropdownToggle>Area</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem>Setiabudi</button>
        <button ngbDropdownItem>Kalibata</button>
        <button ngbDropdownItem>Pancoran</button>
        <div class="dropdown-divider"></div>
      </div>
    </li> -->
    <li ngbNavItem class="ml-auto">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </li>
  </ul>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 padding-right">
        <div class="jenisLomba">
          <h5 class="title text-center">Perlombaan</h5>
          <div class="row">
            <div
              class="col-md-4 mb-5"
              *ngFor="let turnament of tournaments | slice: (page - 1) * pageSize:page * pageSize"
            >
              <div class="card h-100">
                <img
                  class="card-img-top"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_xB3064DOl9XMO_0C9kN6GEJCoVag5g2ZsQ&usqp=CAU"
                  alt="gambar lomba"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ turnament.NamaTournament }}</h5>
                  <p class="card-text">Area : {{ turnament.SubDistrict }}</p>
                  <p class="card-text" [innerHTML]="finish(turnament.Is_finish)"></p>
                  <p class="card-text" [innerHTML]="status(turnament.Is_active)"></p>
                  <p class="card-text" [innerHTML]="avail(turnament.JumlahPeserta, turnament.Id_Peserta)"></p>
                  <p class="card-text">Jumlah Peserta : {{ turnament.JumlahPeserta }}</p>
                  <a class="btn btn-primary" [routerLink]="['/lomba', turnament.NamaTournament]">Detail Lomba </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ngb-pagination
  class="d-flex justify-content-center"
  [pageSize]="pageSize"
  [(page)]="page"
  [collectionSize]="tournaments.length"
  (pageChange)="pageChanged($event)"
></ngb-pagination>
