<section id="reset_password">
  <div class="container" style="margin: 100px;" >
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Masukkan Password Baru</h4>
          </div>
          <div class="card-body">
            <form action="index.html">
              <div class="form-group">
                <label for="password">Password Baru</label>
                <input name="password" type="password" [(ngModel)]="inputPwd.password" class="form-control">
              </div>
              <!-- <div class="form-group">
                <label for="confirmpassword">Konfirmasi Password</label>
                <input name="password" type="password" [(ngModel)]="inputPwd.confirmpassword" class="form-control">
              </div> -->
              <input class="btn-primary" type="Submit" value="Simpan" (click)="resetPassword()">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>