<div class="container">
  <section id="search" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Posts...">
            <div class="input-group-append">
              <button class="btn btn-danger">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_xB3064DOl9XMO_0C9kN6GEJCoVag5g2ZsQ&usqp=CAU" class="d-block w-100" alt="Gambar lomba" style="height: 200px;">
      <div class="carousel-caption d-none d-md-block">
        <h2>Lomba Kelereng</h2>
        <p>Daftar sekarang dan menangkan hadiahnya</p>
      </div>
    </div>
  </div>
</div>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Informasi</a>
    <ng-template ngbNavContent>
      <p>Lomba kelereng adalah salah satu perlombaan yang paling poluper dilaksanakan pada perayaan Proklamasi Kemerdekaan Indonesia 17 Agustus, biasanya diikuti oleh anak usia tujuh hingga dua belas tahun.</p><hr>
      <p>Peralatan :<br>
        1. Kelereng.<br>
        2. Sendok.<br></p><hr>
      <p>Cara bermain :<br>
        1. Berjalan cepat setengah lari menjaga kelereng agar tidak jatuh.<br>
        2. Apabila kelereng jatuh dari sendok maka dinyatakan kalah.<br>
        3. Untuk menentukan pemenang dilihat dari peserta yang sampai terlebih dahulu dengan kelereng yang tidak jatuh.
      </p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Pendaftaran</a>
    <ng-template ngbNavContent>
      <p>Syarat peserta :<br>
        1. Laki-laki dan perempuan.<br>
        2. Usia 7-12 tahun.
      </p>
      <input class="btn-primary" type="Submit" value="Daftar" ><br><br>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Pertandingan</a>
    <ng-template ngbNavContent>
      
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Hasil</a>
    <ng-template ngbNavContent>
     
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
<!-- <pre>Active: {{ active }}</pre> -->
</div>