<div class="container" #customLoadingTemplate>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_xB3064DOl9XMO_0C9kN6GEJCoVag5g2ZsQ&usqp=CAU"
          class="d-block w-100"
          alt="Gambar lomba"
          style="height: 200px"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ detail.NamaTournament }}</h2>
          <p>Daftar sekarang dan menangkan hadiahnya</p>
        </div>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Informasi</a>
        <ng-template ngbNavContent>
          <p [innerHTML]="detail.Informasi"></p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Pendaftaran</a>
        <ng-template ngbNavContent>
          <p [innerHTML]="detail.Informasi"></p>
          <button type="button" class="btn btn-primary" (click)="registerLomba(detail)" [disabled]="is_finish == true">
            Daftar</button
          ><br />
          <br />
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Peserta</a>
        <ng-template ngbNavContent>
          <div class="row" *ngIf="!type_tournament">
            <div class="col-md-2" *ngFor="let group of is_group; let i = index" [attr.data-index]="i">
              <app-peserta [data]="group.is_group"></app-peserta>
            </div>
          </div>
          <app-single *ngIf="type_tournament" [dataPeserta]="dataPeserta"></app-single>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Pertandingan</a>
        <ng-template ngbNavContent>
          <app-bracket
            *ngIf="type_tournament"
            [dataPeserta]="dataPeserta"
            [jumlahPeserta]="jumlahPeserta"
          ></app-bracket>
          <app-free-all *ngIf="!type_tournament" [dataPeserta]="dataPeserta"></app-free-all>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>Pemenang</a>
        <ng-template ngbNavContent>
          <app-winner [winner]="winner" [juara]="juara"></app-winner>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>
