<div class="container" #customLoadingTemplate>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_xB3064DOl9XMO_0C9kN6GEJCoVag5g2ZsQ&usqp=CAU"
          class="d-block w-100"
          alt="Gambar lomba"
          style="height: 200px"
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ detail.NamaTournament }}</h2>
          <p>Daftar sekarang dan menangkan hadiahnya</p>
        </div>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Informasi</a>
        <ng-template ngbNavContent>
          <p [innerHTML]="detail.Informasi"></p>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Pendaftaran</a>
        <ng-template ngbNavContent>
          <p [innerHTML]="detail.Informasi"></p>

          <button type="button" class="btn btn-dark" (click)="registerLomba(detail)">Daftar</button>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Pertandingan</a>
        <ng-template ngbNavContent>
          <app-bracket [dataPeserta]="dataPeserta" [jumlahPeserta]="jumlahPeserta"></app-bracket>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</div>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>
