<div class="card-group" style="margin-bottom: 50px">
  <div class="card">
    <img
      src="https://i.pinimg.com/474x/ad/f8/72/adf872c441bc9470db48b6ce2fbec2fc.jpg"
      style="width: 200px; height: 200px"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Juara 1</h5>
      <p class="card-text">Rp 500.000</p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://png.pngtree.com/png-vector/20191027/ourlarge/pngtree-silver-medal-vector-best-first-placement-winner-champion-number-one-2nd-png-image_1888381.jpg"
      style="width: 200px; height: 200px"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Juara 2</h5>
      <p class="card-text">Rp 300.000</p>
    </div>
  </div>
  <div class="card">
    <img
      src="https://png.pngtree.com/png-vector/20191027/ourlarge/pngtree-bronze-medal-vector-best-first-placement-winner-champion-number-one-3rd-png-image_1887553.jpg"
      style="width: 200px; height: 200px"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Juara 3</h5>
      <p class="card-text">Rp 200.000</p>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Juara</th>
      <th scope="col">Nama</th>
      <th scope="col">Area</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
