<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Edit Profile</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control"  />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control"  />
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" name="editor1"></textarea
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/change_password" class="btn btn-success btn-block"> <i class="fas fa-lock"></i> Change Password </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-danger btn-block"> <i class="fas fa-trash"></i> Delete Account </a>
      </div>
    </div>
  </div>
</section>
