<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Profile</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="name">Nama</label>
                <input disabled type="text" name="username" [(ngModel)]="profiles.username" class="form-control" />
              </div>
              <div class="form-group">
                <label for="birthdate">Tanggal Lahir</label>
                <input
                  disabled
                  name="birthdate"
                  [(ngModel)]="profiles.birthdate"
                  placeholder="Selected date"
                  type="date"
                  id="date-picker"
                  class="form-control datepicker"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input disabled type="email" name="email" [(ngModel)]="profiles.email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="phoneNumber">No. Handphone</label>
                <input
                  disabled
                  type="email"
                  name="phoneNumber"
                  [(ngModel)]="profiles.phoneNumber"
                  class="form-control"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="/profile_update" class="btn btn-primary btn-block">Update Profile</a>
      </div>
      <div class="col-md-3">
        <a routerLink="/team" class="btn btn-dark btn-block">Daftar Lomba Group</a>
      </div>
    </div>
  </div>
</section>
