<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Edit Profile</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" />
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" name="editor1"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h3>Your Avatar</h3>
        <img src="img/avatar.png" alt="" class="d-block img-fluid mb-3" />
        <button class="btn btn-primary btn-block">Edit Image</button>
        <button class="btn btn-danger btn-block">Delete Image</button>
      </div>
    </div>
  </div>
</section>

<section id="actions" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#" class="btn btn-success btn-block"> <i class="fas fa-lock"></i> Change Password </a>
      </div>
      <div class="col-md-3">
        <a href="#" class="btn btn-danger btn-block"> <i class="fas fa-trash"></i> Delete Account </a>
      </div>
    </div>
  </div>
</section>
