<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" routerLink="/home">LOMBA 17 AGUSTUS</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-archive"></i>
          <span translate>About</span>
        </a>
        <a class="nav-item nav-link" routerLink="/listlomba" routerLinkActive="active">
          <i class="fas fa-trophy"></i>
          <span translate>Lomba</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <li *ngIf="!loggin()" class="nav-item nav-link">
          <button type="button" routerLink="/login" class="btn btn-outline-warning">Login</button>
        </li>

        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <li *ngIf="loggin()" class="nav-item nav-link">
              <button class="btn btn-outline-warning" id="dropdownBasic1" ngbDropdownToggle>Welcome</button>
            </li>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <li *ngIf="loggin()" class="nav-item nav-link">
                <button ngbDropdownItem routerLink="/profile">Profile</button>
              </li>
              <li *ngIf="loggin()" class="nav-item nav-link">
                <button ngbDropdownItem routerLink="/change_pwd">Ganti Password</button>
              </li>
              <li *ngIf="loggin()" class="nav-item nav-link">
                <button ngbDropdownItem (click)="onLogout()" routerLink="/login">Logout</button>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
