.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.card:hover img{
  transform: scale(1.1,1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: .5;
}

.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;

}