<section id="register" #customLoadingTemplate>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Register</h4>
          </div>
          <div class="card-body">
            <form action="index.html" [formGroup]="regform" (ngSumbit)="onSubmit(fs)">
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  name="username"
                  type="text"
                  [(ngModel)]="registerConnect.username"
                  #username="ngModel"
                  [ngClass]="{ 'is-invalid': username.errors && username.touched }"
                  required
                  minlength="2"
                />
                <div *ngIf="username.invalid && username.touched" class="text-danger">
                  <div *ngIf="username.errors.required">Username is required</div>
                  <div *ngIf="username.errors.minlength">Username must be at least 3 characters long.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  name="password"
                  type="password"
                  [(ngModel)]="registerConnect.password"
                  #password="ngModel"
                  [ngClass]="{ 'is-invalid': fs.submitted && password.invalid }"
                  class="form-control"
                  required
                  minlength="4"
                />
                <div *ngIf="password.invalid && password.touched" class="text-danger">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">Password must be at least 4 characters long</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  name="email"
                  type="text"
                  [(ngModel)]="registerConnect.email"
                  #email="ngModel"
                  [ngClass]="{ 'is-invalid': fs.submitted && email.invalid }"
                  class="form-control"
                  formControlName="email"
                  required
                />
                <div *ngIf="email.invalid && email.touched" class="text-danger">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email not valid</div>
                </div>
              </div>
              <div class="form-group">
                <label for="birthdate">Tanggal Lahir</label>
                <input
                  name="birthdate"
                  [(ngModel)]="registerConnect.birthdate"
                  placeholder="Selected date"
                  type="date"
                  id="date-picker"
                  class="form-control datepicker"
                />
              </div>
              <div class="form-group">
                <label for="phoneNumber">Nomor Handphone</label>
                <input
                  name="phoneNumber"
                  type="text"
                  [(ngModel)]="registerConnect.phoneNumber"
                  #phoneNumber="ngModel"
                  [ngClass]="{ 'is-invalid': fs.submitted && phoneNumber.invalid }"
                  class="form-control"
                  formControlName="phoneNumber"
                  required
                  minlength="11"
                />
                <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="text-danger">
                  <div *ngIf="phoneNumber.errors.required">phoneNumber is required</div>
                  <div *ngIf="phoneNumber.errors.minlength">phoneNumber must be at least 10 characters long</div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputState">Role</label>
                <select id="inputState" class="form-control">
                  <option selected>Pilih</option>
                  <option name="roles" [(ngModel)]="registerConnect.roles" value="peserta">Peserta</option>
                </select>
              </div>
              <input class="btn-primary" type="submit" value="Submit" (click)="register()" />
              <input class="btn-primary" type="submit" value="Batalkan" routerLink="/login" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px' }"
  [template]="customLoadingTemplate"
></ngx-loading>
