<section id="change_pwd">
  <div class="container" style="margin-top: 100px">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4>Masukkan Password Baru</h4>
          </div>
          <div class="card-body">
            <form action="index.html">
              <div class="form-group">
                <label for="password">Password Baru</label>
                <input
                  name="password"
                  type="password"
                  [(ngModel)]="inputPassword.password"
                  #usernamePassword="ngModel"
                  [ngClass]="{ 'is-invalid': usernamePassword.errors && usernamePassword.touched }"
                  class="form-control"
                  required
                  minlength="4"
                />
                <div [hidden]="!usernamePassword.errors?.required" class="invalid-feedback">Password is required</div>
                <div [hidden]="!usernamePassword.errors?.minlength" class="invalid-feedback">
                  Password must be at least 4 characters long
                </div>
              </div>
              <input class="btn-primary" type="Submit" value="Simpan" (click)="changePassword()" />
              <input class="btn-primary" type="Submit" value="Batalkan" routerLink="/home" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
